
body {
  background-color: Black;
}

header {
  text-align: center;
  font-family: Papyrus,fantasy;
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(184,134,11);
  position: relative;
  margin: 0 auto;
}

.table {
  width: 400px;
  height: 800px;
  text-align: center;
  font-family: Papyrus, fantasy;
  font-size: 10px;
  color: rgb(184,134,11);
  margin: 0 auto;
  position: relative;
}

table, td, th {
  border: 1px solid rgb(184,134,11);
}

.Location {
  width: 300px;
  text-align: center;
  display: inline-block;
}

.img {
  position: relative;
  margin: 0 auto;
  height: 700px;
  width: 1000px;
}

.img img {
  position: relative;
  margin: 10px auto;
  display: block;
  height: 650px;
  width: 1000px;
}

.img p {
  text-align: center;
  font-family: Papyrus, fantasy;
  font-size: 25px;
  color: rgb(184,134,11);
  position: relative;
  margin: 0 auto;
}

.imgh1,
.imgh2 {
  height: 650px;
  width: 1000px;
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template: 90% 10% / repeat(3, 1fr)
}

.imgh1 img,
.imgh2 img {
  width: 330px;
  height: 600px;
}

.imgh1 p,
.imgh2 p {
  font-family: Papyrus, fantasy;
  font-size: 25px;
  color: rgb(184,134,11);
  text-align: center;
}

.img img,
.imgh1 img,
.imgh2 img {
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.img img:hover,
.imgh1 img:hover,
.imgh2 img:hover {
  -webkit-filter: grayscale(0);
	filter: grayscale(0);

}

.footer {
  color: rgba(184,134,11,0.5);
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 15px;
  font-family: arial;
  padding-top: 10px;
}
