body {
  background-color: black;
}

.header h1 {
  text-align: center;
  font-family: Papyrus,fantasy;
  font-size: 40px;
  text-transform: uppercase;
  color: rgb(184,134,11);
  margin-bottom: 20px;
}

.container p {
  text-align: center;
  font-family: Papyrus, fantasy;
  font-size: 25px;
  color: rgb(184,134,11);
  position: relative;
  margin: 0 auto;
}

.container img {
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.container img:hover {
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.footer h6 {
  text-align: center;
}
